.app-container {
  max-width: 1000px;
  /* height: 600px; */
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.task-form-container {
  margin-bottom: 20px;
}

.task-list-container {
  display: flex;
  flex-direction: column;
}

